html {
  height: 100%;
}

body {
  background-color: #2f3035;
  background-image: url(images/background-adare-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header {
  height: 118px;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, .338);
  /* height: 40px; */
  text-align: center;
  padding: 14px 0px;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  height: 400px;
  text-align: center;
  padding-top: 80px;
  padding-left: 240px;
  padding-right: 240px;
}

.maps {
  padding-bottom: 100px;
}

footer {
  /* height: 40px; */
  background-color: rgba(0, 0, 0, .728);
  padding: 50px 0px;
}

footer p {
  font-size: 10px;
  text-align: center;
  color: rgb(141, 140, 140);
}

h1 {
  font-size: 84px;
  color: white;
}

p {
  font-size: 18px;
  color: white;
}

a {
  color: white;
  /* text-decoration: none; */
}